

.navcolor
{
    background-color:#F0FFF0;
}

#navbtn
{
    border-radius: 18px;
    background-color: #21B573;
    padding: 5px;
    color: #F0FFF0;
    border-color: #F0FFF0;

}
nav img
{
    height: 4.8vw;
    width: 19.5vw;
}
.logo
{
    margin-left: 10vw;
}
.item
{
    margin-right: 7vw;
}
.itemmiddle
{
    margin: 0vw 3vw 0vw 0vw;
    color: #3C3C3C;
    font-weight: 600;
}

.row
{
    margin-bottom: 1vw;
}
.navbottom img 
{
    height: 30vw;
    width: 40vw;
}

.modal-body img
{
    width: 331px;
height: 234px;
}

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

  .my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  // All animations will take twice the time to accomplish
document.documentElement.style.setProperty('--animate-duration', '2s');