

.navcolor
{
    background-color:#F0FFF0;
}

#navbtn
{
    border-radius: 18px;
    background-color: #21B573;
    padding: 5px;
    color: #F0FFF0;
    border-color: #F0FFF0;

}
nav img
{
    height: 4.8vw;
    width: 19.5vw;
}
.logo
{
    margin-left: 10vw;
}
.item
{
    margin-right: 7vw;
}
.itemmiddle
{
    margin: 0vw 3vw 0vw 0vw;
    color: #3C3C3C;
    font-weight: 600;
}

.row
{
    margin-bottom: 1vw;
}
.navbottom img 
{
    height: 30vw;
    width: 40vw;
} 

